{{!--
    adapt-accordionWithAudio
    Copyright (C) 2015 Bombardier Inc. (www.batraining.com)
    https://github.com/BATraining/adapt-accordionWithAudio/blob/master/LICENSE
   
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
   
    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
   
    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.
--}}
<div class="accordionWithAudio-inner component-inner" role="region" aria-label="{{_globals._components._accordionWithAudio.ariaRegion}}">
    {{> component this}}
    <div class="accordionWithAudio-widget component-widget">
        {{#each _items}}
        <div class="accordionWithAudio-item">

            <a href="#" role="button" class="accordionWithAudio-item-title {{#if _isVisited}}visited{{/if}}" aria-expanded="false" aria-label="{{{title}}}">
                <div class="accordionWithAudio-item-title-inner">
                    <div class="accordionWithAudio-item-title-icon icon icon-plus h5"></div>
                    {{{title}}}
                </div>
            </a>

            {{#if audioSrc}}
            <a href="#" class="accordionWithAudio-audio">
                <div class="accordionWithAudio-sound component-item-text-color icon"></div>
            </a>
            {{/if}}

            <div class="accordionWithAudio-item-body">
                <div class="accordionWithAudio-item-body-inner">
                    {{{a11y_text body}}}
                </div>
            </div>

            {{#if audioSrc}}
            <div class="accordionWithAudio-item-audio">
                <audio preload="none">
                    {{#each audioTypes}}
                    <source src="{{../audioSrc}}.{{type}}" type="{{codec}}">
                    {{/each}}
                </audio>
            </div>
            {{/if}}
        </div>
        {{/each}}
    </div>
</div>
